@font-face {
    font-family: 'dbHelvethaica';
    src: url('../fonts/db_helvethaica_x_li_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_li_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_li_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_li_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_li_v3.2-webfont.svg#db_helvethaica_x45_li') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'dbHelvethaica';
    src: url('../fonts/db_helvethaica_x_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_v3.2-webfont.svg#db_helvethaica_x55_regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dbHelvethaic';
    src: url('../fonts/db_helvethaica_x_bd_v3.2-webfont.eot');
    src: url('../fonts/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'), url('../fonts/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd') format('svg');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dbHelvethaica', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.fix {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    font-size: 22px;
    font-weight: 400;
}

.navbar-logo {
    max-width: 100%;
    width: 69px;
    height: 69px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../img/contact-bg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.contact-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("../img/contact/bg_pic-02.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: bottom left;
    background-repeat: no-repeat;
}


/* .contact-text .nav-tabs {
    border: none;
}

.contact-text .nav-tabs .nav-link {
    text-align: center;
    border-radius: 0;
    font-weight: 600;
    color: #7D6229;
    position: relative;
    padding: 15px 20px;
    background: #ffffff;
}

.contact-text .nav-tabs .nav-link.active,
.contact-text .nav-tabs .nav-link:hover,
.contact-text .nav-tabs.active>a:focus,
.contact-text .nav-tabs>a:hover {
    background: #33292C;
    color: #ffffff;
} */

.contact-text .nav-tabs {
    border: 1px solid #33292C;
    max-width: 580px;
}

.contact-text .nav-tabs .nav-link {
    text-align: center;
    color: #7D6229;
    border-radius: 0px;
    line-height: 20px;
    font-size: 28px;
    border: none;
}

.contact-text .nav-tabs .nav-link.active {
    background-color: #33292C;
    color: #fff;
}

.tab-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.tab-content h4 {
    font-size: 24px;
    font-weight: 700;
}

.tab-content p {
    font-size: 24px;
    color: #505965;
    font-weight: 400;
}

.contact-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-icon {
    margin-top: 20px;
}

.contact-icon-item li {
    margin-right: 12px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.social-icons .fab,
.fas,
.far {
    font-size: 1.8rem;
}

.social-icons .fab,
.fas,
.far {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fab,
.fas,
.far {
    border-radius: 50%;
}


/* .social-icons.icon-rotate .fab:hover,
.fas:hover,
.far:hover,
.social-icons.icon-rotate .fab:active,
.fas:active,
.far:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
} */

@media only screen and (min-width: 768px) {
    .responsive-tabs .dropdown-arrow {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-tabs {
        position: relative;
        border: 1px solid #ccc;
    }
    .responsive-tabs li {
        width: 100%;
        margin: 0 !important;
    }
    .responsive-tabs li>a {
        display: none;
        border: 0 !important;
        border-radius: 0 !important;
    }
    .responsive-tabs.open li>a,
    .responsive-tabs li>a.active {
        display: block;
    }
    .responsive-tabs .dropdown-arrow {
        position: absolute;
        top: 15px;
        right: 15px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        vertical-align: middle;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: all ease .5s;
        cursor: pointer;
    }
    .responsive-tabs.open .dropdown-arrow {
        transform: rotate(-135deg);
        transition: all ease .5s;
    }
}

.arrowpos {
    padding-top: 9px;
    padding-left: px;
}

.serbiri {
    display: inline;
    position: relative;
    color: white;
    float: right;
    margin-top: -9%;
    margin-right: 29px;
    background-color: #33282c;
    text-decoration: none;
    padding: 0px 30px 0px 30px;
}

.imgswap1,
.imgswap2 {
    display: none;
}

.serbirimo {
    position: absolute;
    position: relative;
    width: 100%;
}

.social-icons .fa-facebook {
    background-color: #3C599F;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social-icons .fa-line {
    background-color: #88C54D;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social-icons .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social-icons .fa-phone {
    background-color: #35A8F1;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social-icons .fa-envelope {
    background-color: #677171;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.contact-in {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 80%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 20%;
    padding: 30px;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 10px;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder {
    color: #505965;
}

.contact-form-txtarea {
    width: 100%;
    height: 130px;
    color: #000;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea::placeholder {
    color: #505965;
}

.contact-form-btn {
    width: 100%;
    background-color: #33292C;
    color: #fff;
    padding: 5px 0;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
}

.contact-form-btn:hover {
    opacity: 0.6;
}

.footer_area {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 2px solid #e5e5e5;
}

.footer-logo {
    max-width: 100%;
    width: 150px;
    height: 150px;
}

.footer-list li {
    margin-bottom: 20px;
}

.footer-list li a {
    font-size: 22px;
    color: #33292C;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer-list li a:hover {
    color: #B83A2A;
}

.footer-list li a:focus {
    color: #B83A2A;
}

.footer-social a {
    display: inline-block;
    height: 41px;
    width: 41px;
    font-size: 18px;
    color: #404040;
    border: 2px solid #ededed;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    margin-right: 10px;
}

.footer-social a:hover {
    background: #7D6229;
    color: #ffffff;
    border-color: #ffffff;
}

.footer-title h1 {
    color: #33292c;
    margin: 0;
}

.footer-title p {
    color: #33292C;
    font-size: 18px;
}

.footer-title .p2 {
    padding-right: 2rem;
}

.copyright {
    width: 100%;
    background: #33292C;
    border-top: 8px solid #CDBB8B;
}

.copyright_container {
    width: 100%;
    height: 56px;
}

.copyright_content {
    font-size: 18px;
    color: #fff;
}

.imgpromotion {
    max-width: 70%;
    max-height: 40%;
}


/* -------------------------------------------------------------- product page------------------------------------------------------------------------------------------------------------- */

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}


/* navbar */

.cenlist {
    margin: auto 0 0 auto;
    min-width: 80%;
}

.iconleft {
    margin-right: 2%;
    height: 100%;
}

.iconreal {
    padding: 10px 10px;
}

.carousel-caption {
    margin-bottom: 20%;
}

.ftco-nav {
    width: 100%;
    z-index: 3;
}

.carousel-indicators {
    border-radius: 50px;
    justify-content: left;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #7D6229;
}

.white [data-bs-target] {
    color: white;
    background-color: white;
}

.logonav {
    max-width: 200px;
    max-height: 200px;
}

.font-white {
    color: white;
}

.iconleft img {
    padding: 3px;
    justify-content: center;
    max-width: 50%;
    max-height: 50%;
}

.product-section {
    background-image: url("../img/product/product.png");
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 450px;
}

.product-section .card {
    max-width: 100%;
    border: none;
    background: transparent;
    margin-top: 3rem;
}

.product-section .card-body {
    height: 200px;
    background-image: url("../img/line.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: left top;
    background-repeat: no-repeat;
}

.product-section .card-title {
    text-transform: uppercase;
    color: #7D6229;
    font-weight: 400;
}

.product-section .card-text {
    font-size: 18px;
    font-weight: 400;
    color: #33292c;
}

.owl-nav {
    display: none;
}


/*ปุ่มซื้อเลย*/

.btn-1 {
    color: #33292C;
    font-size: 1.5rem;
    outline: none;
    border: none;
    opacity: 1;
}

.btn-1:hover,
.btn-1:focus,
.btn-1.focus {
    opacity: 0.6;
    outline: none;
    border: none;
}

.product-propertie {
    background-image: url("../img/product/mid-08-test.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 15% 5% 5% 30%;
}

.product-propertie h2 {
    text-transform: uppercase;
    color: #fff;
}

.review-section {
    background-image: url("../img/product/review.png");
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 300px;
    padding-top: 5rem;
}

.vdo {
    max-width: 100%;
    margin: 2em auto;
}

.vdo iframe {
    width: 100%;
    min-height: 700px;
}

.undervdo {
    border-left: 1px solid black;
    padding-left: 30px;
}

.testimonial-section {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 5rem;
}

.test {
    margin-left: 6%;
}

.testimonial-date {
    border-top: 5px solid #B83A2A;
}

.testimonial-date p {
    font-size: 18px;
    color: #505965;
    text-align: right;
}

.testimonial-date h5 {
    color: #33292c;
    font-weight: 700;
    text-align: right;
}

.testimonial-title h5 {
    color: #7D6229;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.testimonial-text {
    font-size: 26px;
    color: #505965;
}

.testimonial-readmore a {
    color: #505964;
}

.testimonial-readmore a:hover {
    color: #B83A2A;
}


/* responsive */

.test102 {
    display: flex;
    margin-left: 100px;
}

.underimg1 p {
    font-size: 1.5rem;
}

#mainnav {
    -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
    -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
    -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
    ;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
}


/*SERVICE ZONE */


/* single product */

header.single-product {
    padding-top: 10rem;
    padding-bottom: 8rem;
    background-image: url("../img/bg_gradient_full.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.product-title h1 {
    font-size: 48px;
    text-transform: uppercase;
    color: #505964;
}

.product-title-thai h1 {
    font-size: 28px;
    color: #505964;
}

.product-price h1 {
    font-size: 200px;
    color: #e5e5e5;
    font-weight: 300;
}

.product-buy {
    position: absolute;
    left: 75%;
    top: 39%;
    opacity: 1;
}

.product-buy:hover {
    opacity: 0.6;
    cursor: pointer;
}

.product-buy img {
    width: 100%;
    max-width: 250px;
}

.product-tab {
    height: 200px;
}

.product-tab .nav-tabs {
    border: 1px solid #33292C;
    max-width: 361px;
}

.product-tab .nav-tabs .nav-link {
    text-align: center;
    color: #7D6229;
    border-radius: 0px;
    line-height: 20px;
    font-size: 28px;
    border: none;
}

.product-tab .nav-tabs .nav-link.active {
    background-color: #33292C;
    color: #fff;
}

.product-tab p {
    margin-top: 1rem;
    font-size: 22px;
    color: #505964;
    font-weight: 400;
}

.product-tab span {
    font-size: 22px;
    color: #505964;
    font-weight: 400;
}

.product-tab .propertie-tab ul li {
    font-size: 22px;
    color: #505964;
    font-weight: 400;
    list-style-type: disc;
}

.howto-product-area {
    padding-bottom: 3rem;
    padding-top: 5rem;
    position: relative;
}

.howto-product-area h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #505964;
}

.howto-item p {
    font-size: 24px;
}

.relative-container {
    position: relative;
    z-index: 1;
}

.promoteblock p {
    margin-bottom: 0;
    font-size: 25px;
}

.promobuy {
    display: flex;
    justify-content: center;
}

.buypromo {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 27px;
}

.buypromo:hover,
.buypromo:focus,
.buypromo.focus {
    color: #B83A2A;
}

.btn-product {
    text-transform: uppercase;
    color: #CACACA;
    border: 1px solid #CACACA;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1.5rem;
    margin-right: 1rem;
}

.btn-product:hover,
.btn-product:focus {
    border-color: #212529;
}

.ser1 a {
    font-size: 2vw;
    text-decoration: none;
}

.bgpro {
    background-image: url("../img/Text-inner-Home2.png");
    background-repeat: no-repeat;
    background-size: auto;
}


/* single product end */


/* ---------------------------------- single product end ---------------------------------- */


/* ---------------------------------- promotion page ------------------------------------------*/

.promotion-section {
    background-image: url("../img/promotion/bg_pic-02.png");
    background-attachment: scroll;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 500px;
    position: relative;
}

.testimonial-promo-section {
    background-image: url("../img/promotion/review.png");
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 300px;
    position: relative;
}

.review-btn {
    position: absolute;
    right: 0%;
    top: 40%;
}


/* end promotion page */


/* ---------------------------------- promotion detail page ------------------------------ */

header.single-promotion {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-image: url("../img/promotion/Gray-shadow\ .png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.promotion-title .promotion-title-text {
    font-size: 48px;
    text-transform: uppercase;
    color: #505964;
}

.promotion-title .promotion-red {
    color: #B83A2A;
    font-weight: 400;
    font-size: 28px;
}

.promotion-content .promotion-black {
    color: #505964;
    font-weight: 400;
}

.promotion-price .price {
    color: #e0e0e0;
    font-weight: 300;
    font-size: 180px;
}

.promotion-price .default {
    color: #505964;
    font-weight: 400;
    font-size: 1.75rem;
    padding-top: 2rem;
}

.promotion-buy {
    width: 100%;
    max-width: 250px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    opacity: 1;
}

.promotion-buy:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.6;
}

.promotion-special h3 {
    color: #505964;
    font-weight: 400;
}

.promotion-slide-section {
    background-image: url("../img/promotion/bg_mid-08.jpg");
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
}

.promotion-slide-section .card {
    max-width: 100%;
    border: none;
    background: transparent;
    margin-top: 3rem;
}

.promotion-slide-section .card-body {
    height: 200px;
    background-image: url("../img/line.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: left top;
    background-repeat: no-repeat;
}

.promotion-slide-section .card-title {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}

.promotion-slide-section .card-text {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.card-promotion {
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-promotion .card-title {
    font-size: 2rem;
}

.card-promotion .card-body {
    background: none;
    text-align: center;
}


/* end promotion detail page */


/* ------------------------
   Responsive
------------------------*/


/* EXTRA SMALL mobile */

@media only screen and (max-width: 479px) {
    .bg-contact {
        background-image: none;
        padding: 0;
    }
    .contact-text {
        padding: 0rem 2rem 0rem 2rem;
    }
    .contact-icon {
        padding: 0rem 2rem 2rem 2rem;
    }
    .logonav {
        width: 30%;
    }
    .serbiri a {
        font-size: 1.5rem;
    }
    .serbiri {
        margin-left: 33%;
    }
    .invis {
        display: none;
    }
    .ser1 a {
        font-size: 2vw;
        text-decoration: none;
    }
    .imgswap1,
    .imgswap2 {
        display: none;
    }
    .promoteblock h1 {
        font-size: 2rem;
    }
    .promobuy a {
        font-size: 30px;
    }
    .promoteblock p {
        font-size: 20px;
    }
    .boxunder {
        margin-left: 13%;
        width: 70%;
    }
    nav,
    .cenlist {
        background-color: #212529!important;
    }
    .test102 {
        margin: auto;
    }
    .product-propertie {
        background-image: url(../img/product/bg_mid-08.jpg);
        padding: 5% 5% 5% 5%;
    }
    .product-section {
        background-size: 300px;
    }
    .review-section {
        background-size: 300px;
        background-position: top left;
    }
    .vdo iframe {
        min-height: 375px;
    }
    .product-price h1 {
        font-size: 100px;
    }
    .contact-text .nav-tabs {
        max-width: 420px;
    }
    .contact-text .nav-tabs .nav-link {
        font-size: 32px;
    }
}


/* X-Small devices (portrait phones, less than 576px) */

@media only screen and (max-width: 576px) {
    .logonav {
        width: 40%;
    }
    .imgswap1,
    .imgswap2 {
        display: block;
    }
    .imgzas1 {
        display: none;
    }
    .ser1 a {
        font-size: 2rem;
    }
    .serbiri a {
        font-size: 1.5rem;
    }
    .serbiri {
        margin-left: 33%;
    }
    .promoteblock h1 {
        font-size: 3rem;
    }
    .promobuy a {
        font-size: 30px;
    }
    .promoteblock p {
        font-size: 20px;
    }
    nav,
    .cenlist {
        background-color: #212529!important;
    }
    .test102 {
        margin: auto;
    }
    .imgpromotion {
        width: 50%;
    }
    .product-section {
        background-size: 300px;
    }
    .product-propertie {
        background-image: url(../img/product/bg_mid-08.jpg);
        padding: 5% 5% 5% 5%;
    }
    .review-section {
        background-size: 300px;
        background-position: top left;
    }
    .vdo iframe {
        min-height: 375px;
    }
    .contact-text {
        padding: 0rem 2rem 0rem 2rem;
    }
    .contact-icon {
        padding: 0rem 2rem 2rem 2rem;
    }
    .detailbox {
        background-color: #333;
    }
    #d-img-1 {
        display: none !important;
    }
    #d-img-2 {
        display: block !important;
    }
    .desk-img {
        display: none !important;
    }
    .mobile-img {
        display: block !important;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media only screen and (max-width: 768px) {
    .test a {
        font-size: 5vw;
    }
    .product-propertie {
        background-image: url(../img/product/bg_mid-08.jpg);
        padding: 5% 5% 5% 5%;
    }
    .product-section {
        background-size: 400px;
    }
    .review-section {
        background-size: 300px;
        background-position: top left;
    }
    .contact-text {
        padding: 0rem 2rem 2rem 2rem;
    }
    .contact-icon {
        padding: 0rem 2rem 2rem 2rem;
    }
    nav,
    .cenlist {
        background-color: #212529!important;
    }
}


/* Medium devices (tablets, less than 992px) */

@media only screen and (max-width: 992px) {
    .ser1 a {
        font-size: 1.8rem;
    }
    .serbiri a {
        font-size: 1.5rem;
    }
    .boxger p {
        text-align: right;
    }
    .boxger span {
        display: block;
    }
    .underimg1 p {
        padding-left: 25px;
        font-size: 1.5rem;
    }
    .underimg1 {
        margin-top: 10px;
        border-left: solid 1px black;
    }
    #mainnav {
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
        ;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, background-color 0.5s ease;
    }
    /*SERVICE ZONE */
    /* single product */
    header.single-product {
        padding-top: 10rem;
        padding-bottom: 8rem;
        background-image: url("../img/bg_gradient_full.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .product-title h1 {
        font-size: 48px;
        text-transform: uppercase;
        color: #505964;
    }
    nav,
    .cenlist {
        background-color: #212529!important;
    }
    .test102 {
        margin: auto;
    }
    .test {
        margin-left: 0;
    }
    .underimg2 {
        margin-left: 0;
    }
    .contact-text {
        padding: 0rem 2rem 0rem 2rem;
    }
    .contact-icon {
        padding: 0rem 2rem 2rem 2rem;
    }
}


/* Large devices (desktops, less than 1200px) */

@media only screen and (max-width: 1200px) {
    .navbar {
        font-size: 99%;
    }
    .footer-title p {
        font-size: 16px;
    }
}

@media only screen and (min-width:2560px) {
    .product-propertie {
        background-image: url(../img/product/mid-08-test.png);
        padding: 15% 5% 5% 30%;
    }
}


/* start css for servicedetail page*/

.serdebox1 {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.imgserdetail img {
    max-width: 1000px;
    max-height: 800px;
}

.servicedebox {
    text-align: right;
}

.servicedebox p {
    font-size: 1.5vw;
    margin-top: 20px;
    padding-right: 20px;
    border-right: black 1px solid;
}

.servicedebox2 p {
    border-left: black 1px solid;
    margin-left: 20px;
    padding-left: 20px;
}

.servicedebox2 {
    margin-left: 30px;
}

.servicedebox2 ul {
    padding-left: 20px;
    border-left: 1px black solid;
}

.servicedebox2 ul li {
    list-style: decimal;
}

.serimgser {
    text-align: right;
}

.serderight {
    width: 100%;
    height: 100%;
    max-height: 800px;
    overflow: hidden;
}

.coralsel {
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
}

.servicedebox3 {
    margin-top: 20px;
}

.servicedebox3 ul li {
    list-style: disc;
    font-size: 1.3vw;
}

.serdeimg .afters {
    display: inline-block;
}

.serdeimg .beforeimg {
    max-width: 500px;
    max-height: 100px;
}

.serdeimg .befores {
    display: block;
}

.imgleftcallme {
    padding-left: 350px;
}

.imgleftcallme img {
    height: 160px;
}

.scarser {
    margin: 20px;
    background: transparent;
    max-height: 100%;
    max-width: 100%;
    border: none;
}

.mapbox {
    position: relative;
    height: 100%;
}

.btswitch {
    margin-top: 20px;
    right: 0;
    position: absolute;
}

.btswitch button {
    border: 1px solid;
    border-collapse: collapse;
    padding: 2px;
    width: 200px;
    transition: background-color 1s;
}

#map2 {
    display: none;
}

#map3 {
    display: none;
}

.dataser p {
    text-transform: uppercase;
    white-space: nowrap;
}

.cardser {
    margin-bottom: 20px;
    margin-right: 50px;
    margin-top: 3rem;
    background: transparent;
    max-height: 100%;
    max-width: 100%;
    border: none;
}

.btswitch button:hover,
button:active,
.actbtmap {
    color: white;
    background-color: #33292C;
}

.firstmap,
.secondmap {
    color: #7D6229;
}

.servicedebox3 ul {
    border-left: 1px solid black;
    padding-left: 25px;
}

.coralsel img {
    border: 1px solid black;
    margin: auto;
    max-width: 200px;
    max-height: 100px;
}


/* end css for servicedetail page*/


/* start css for service page */

.serviceright {
    margin-top: 13%;
}

.boxbetween {
    border-left: 1px solid black;
    margin: auto;
}

.silderser {
    margin-bottom: 30px;
}

.boxger2 {
    margin-top: 20px;
}

.boxger2 p {
    border-left: black solid 1px;
    padding-left: 25px;
}

.dataser span {
    display: block;
}

.newblock {
    display: block;
}

.dataser p {
    font-size: 1.5rem;
}

.dataser {
    margin-top: 20px;
}

.btser {
    display: flex;
    border: 1px solid #b89b7d;
    border-collapse: collapse;
}

.btserleft {
    background: #b89b7d;
    color: white;
}

.btserright {
    color: #886a36;
}

.btser a {
    width: 100%;
    border: 1px solid #e1d1ba;
    border-right: 0px;
    margin-left: auto;
    text-align: center;
}

.servicedata {
    margin-top: 60px;
    margin-bottom: 60px;
}

.boxbetween span {
    display: block;
}

.boxbetween p {
    margin: 0;
}

.bigservice {
    z-index: -5;
}

.bigservice {
    text-align: right;
}

.sizeinbox {
    font-size: 23px;
}

.sizeinbox1 {
    font-size: 30px;
}

.servicebox {
    position: relative;
    z-index: 99;
    text-align: right;
}

.servicebox p {
    border-right: 1px solid black;
    margin-right: 20px;
    padding-right: 20px;
}

.controlimg img {
    max-height: 1000px;
    min-height: 400px;
    max-width: 1000px;
    min-width: 400px;
    width: 100%;
    height: 100%;
}

.headname {
    font-family: 'dbHelvethaica';
    line-height: 0.8;
    font-size: 8vw;
    display: inline-block;
    white-space: nowrap;
    font-weight: 100;
    margin-bottom: 0;
    color: #dedede;
}

.bannerser {
    white-space: nowrap;
    font-weight: 100;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #322931;
}

.serimgser {
    height: auto;
}

ul.bluelist {
    list-style-type: circle;
    list-style: circle;
    border-right: 1px solid black;
    padding-right: 20px;
}

.bluepara {
    font-size: 1.5vw;
    margin-top: 20px;
}


/* end css for service page */


/* -------------------------------------------- doctor page --------------------------------------------------- */

.doctor-detail-section {
    padding-top: 5rem;
    /* background-image: url("../img/doctor/Text-inner-Docter.png");
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-size: auto; */
}

.doctor-detail-section .detailbox {
    border-left: 1px solid black;
    padding-left: 30px;
}

.doctor-detail-section .detailbox p {
    font-size: 24px;
    font-weight: 400;
}

.doctor-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    background-image: url("../img/doctor/pic_bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
}

.doctor-section .doctor-img img {
    padding-top: 1rem;
}

.doctor-section .doctor-type {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 28px;
    color: #7D6229;
    font-weight: 400;
}

.doctor-section .doctor-name {
    padding-left: 1rem;
    color: #33292C;
    font-weight: 400;
}


/* 
 #service_doctor {
    display: block;
} */

#surgery_doctor {
    display: none;
}

.center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

#d-img-1 {
    display: block;
}

#d-img-2 {
    display: none;
}


/* -------------------------------------------- end doctor page --------------------------------------------------- */


/* -------------------------------------------- FAQ section ------------------------------------------------------- */

.faq-section {
    padding-top: 5rem;
    background-image: url("../img/q&a/bg_pic-02.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    background-size: auto;
    height: 100vh;
}

.faq-section .faq-container {
    width: 100%;
    height: 700px;
}

.faq-section .faq-header {
    border-bottom: 2px solid #e0e0e0;
}

.faq-section .faq-img img {
    max-width: 400px;
    width: 100%;
}

.faq-section .card {
    max-width: 100%;
    border: none;
    padding: 2rem;
    margin: 0 1rem 0 1rem;
}

.faq-section .card-img-container {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 3rem;
}

.faq-section .card-img-top {
    width: 100%;
    max-width: 400px;
}

.scroll {
    position: relative;
    overflow-y: scroll;
    height: 400px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #505964;
}

.faq-section .card-text:nth-child(1) {
    color: #505965;
    font-weight: 700;
}

.faq-section .card-text:nth-child(2) {
    font-weight: 400;
    color: #505965;
}


/* -------------------------------------------- end FAQ section ------------------------------------------------------- */


/* -------------------------------------------- review&article section ------------------------------------------------------- */

header.review-video-slider {
    background-image: url("../img/review_article/Gray-shadow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.review-video-slider .container-fluid {
    margin-top: 8rem;
}

.review-video-slider .video-section .item {
    opacity: 0.4;
    transition: .4s ease all;
    margin: 0 20px;
    transform: scale(.8);
}

@media(max-width:1000px) {
    .review-video-slider .video-section .item {
        margin: 0;
        transform: scale(.9)
    }
}

.review-video-slider .video-section .active .item {
    opacity: 1;
    transform: scale(1);
}

.review-video-slider .video-section .owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.review-video-slider .video-section video {
    max-width: 100%;
    height: auto;
}

.review-video-slider .video-text {
    margin-top: 1.5rem;
    border-left: 1px solid black;
    padding-left: 30px;
}

.review-video-slider .video-text p {
    font-size: 24px;
    font-weight: 400;
    color: #33292c;
    ;
}

.review-video-slider .video-text span {
    font-size: 20px;
    font-weight: 400;
}

.r-section {
    padding-top: 6rem;
    background-image: url("../img/promotion/review.png");
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 300px;
    position: relative;
}

.r-blog {
    margin-right: 1px;
    margin-left: 1px;
}

.r-blog .r-date {
    border-top: 5px solid #B83A2A;
}

.r-blog .r-date p {
    font-size: 18px;
    color: #505965;
    text-align: right;
}

.r-blog .r-date h5 {
    color: #33292c;
    font-weight: 700;
    text-align: right;
}

.r-blog .r-title h5 {
    color: #7D6229;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.r-blog .r-text {
    font-size: 26px;
    color: #505965;
}

.r-blog .r-readmore a {
    color: #505964;
}

.r-blog .r-readmore a:hover {
    color: #B83A2A;
}

.plyr__control--overlaid {
    background: #fff !important;
    color: #7D6229 !important;
}

.review-all-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.a-section {
    padding-top: 6rem;
    background-image: url("../img/review_article/article-text.png");
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 400px;
    position: relative;
}

.a-blog {
    margin-right: 1px;
    margin-left: 1px;
}

.a-blog .a-date {
    border-top: 5px solid #B83A2A;
}

.a-blog .a-date p {
    font-size: 18px;
    color: #505965;
    text-align: right;
}

.a-blog .a-date h5 {
    color: #33292c;
    font-weight: 700;
    text-align: right;
}

.a-blog .a-title h5 {
    color: #7D6229;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.a-blog .a-text {
    font-size: 26px;
    color: #505965;
}

.a-blog .a-readmore a {
    color: #505964;
}

.a-blog .a-readmore a:hover {
    color: #B83A2A;
}

.modal-open .modal-backdrop {
    background-color: #7D6229;
}

.article-all-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


/* -------------------------------------------- end review&article section ------------------------------------------------------- */


/* fix banner */

.desk-img {
    display: block;
}

.mobile-img {
    display: none;
}

.boxunder-promotion {
    border-left: black solid 1px;
    padding-left: 25px;
    margin-left: 18%;
    margin-top: 18%;
    width: 50%;
}


/* end fix banner  */